.product:hover {
    transition: 0.5s;
    transform: scale(1.02);
}

.product-link {
    color: #1bde0c !important;
    text-decoration: none
}

.super {
    text-align: center;
    background-size: 4px;
    color: #11cfcf;
    background-color: aquamarine !important;
}






